@charset "utf-8";

/* pretendard 웹폰트 연결 */
@import url('https://webfontworld.github.io/pretendard/Pretendard.css');

/* 한글 폰트 예스 명조 웹폰트 연결 */

@font-face {
    font-family: 'YESMyoungjo-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_13@1.0/YESMyoungjo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* @font-face {
    font-family: 'YES24Myoungjo';
    src: url(../fonts/예스명조_윈도우/예스명조_윈도우/YES24MyoungjoR.ttf) format('ttf');
    font-weight: 400;
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'YES24Myoungjo';
    src: url(../fonts/예스명조_윈도우/예스명조_윈도우/YES24MyoungjoB.ttf) format('ttf') ;
    font-weight: 600;
    font-weight: 700;
    font-style: normal;
}*/

/* 한글 폰트 예스 고딕 웹폰트 연결 */
@font-face {
    font-family: 'YES Gothic';
    src: url(../fonts/예스고딕_윈도우2/예스고딕_윈도우/YES24GothicB.ttf) format('ttf') ;
    font-weight: 600;
    font-style: normal;
} 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "YESMyoungjo-Regular";

}
ul,ol,li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
    display: inline-block;
}
img,svg,video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: none;
}
span{
    display: inline-block;
}
button{
    outline: none;
    border: none;
    display: inline-block;
    background-color: transparent;
}
html,body{
    font-size: 100%;
}
body{

    overflow-x: hidden !important;
}
.con{
    overflow: hidden;
}
